.darkWebCard2,
.lightWebCard2 {
    position: relative;
    top: 0px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    border-radius: 12px;
}

.darkWebCard2:hover:before,
.lightWebCard2:hover:before {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 40%;
    height: 150%;
    width: 25%;
    border-radius: 16px;
    animation: rot 4s linear infinite;
    background-color: var(--stroke-color);
    z-index: 1;
    overflow: hidden;
}

@keyframes rot {
    100% {
        transform: rotate(360deg);
    }
}

.darkWebCard2::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #0f172a;
    color: rgb(209, 213, 219);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(148, 163, 184 / 0.1);
    z-index: 2;
}

.lightWebCard2::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #f3f4f6;
    color: rgb(31, 41, 55);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0 / 0.1);
    z-index: 2;
}

