.stars {
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 99999px;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #3f2b96, 324px 42px #3f2b96, 303px 586px #3f2b96,
    1312px 276px #3f2b96, 451px 625px #3f2b96, 521px 1931px #3f2b96, 1087px 1871px #3f2b96,
    36px 1546px #3f2b96, 132px 934px #3f2b96, 1698px 901px #3f2b96, 1418px 664px #3f2b96,
    1448px 1157px #3f2b96, 1084px 232px #3f2b96, 347px 1776px #3f2b96, 1722px 243px #3f2b96,
    1629px 835px #3f2b96, 479px 969px #3f2b96, 1231px 960px #3f2b96, 586px 384px #3f2b96,
    164px 527px #3f2b96, 8px 646px #3f2b96, 1150px 1126px #3f2b96, 665px 1357px #3f2b96,
    1556px 1982px #3f2b96, 1260px 1961px #3f2b96, 1675px 1741px #3f2b96,
    1843px 1514px #3f2b96, 718px 1628px #3f2b96, 242px 1343px #3f2b96, 1497px 1880px #3f2b96,
    1364px 230px #3f2b96, 1739px 1302px #3f2b96, 636px 959px #3f2b96, 304px 686px #3f2b96,
    614px 751px #3f2b96, 1935px 816px #3f2b96, 1428px 60px #3f2b96, 355px 335px #3f2b96,
    1594px 158px #3f2b96, 90px 60px #3f2b96, 1553px 162px #3f2b96, 1239px 1825px #3f2b96,
    1945px 587px #3f2b96, 749px 1785px #3f2b96, 1987px 1172px #3f2b96, 1301px 1237px #3f2b96,
    1039px 342px #3f2b96, 1585px 1481px #3f2b96, 995px 1048px #3f2b96, 524px 932px #3f2b96,
    214px 413px #3f2b96, 1701px 1300px #3f2b96, 1037px 1613px #3f2b96, 1871px 996px #3f2b96,
    1360px 1635px #3f2b96, 1110px 1313px #3f2b96, 412px 1783px #3f2b96, 1949px 177px #3f2b96,
    903px 1854px #3f2b96, 700px 1936px #3f2b96, 378px 125px #3f2b96, 308px 834px #3f2b96,
    1118px 962px #3f2b96, 1350px 1929px #3f2b96, 781px 1811px #3f2b96, 561px 137px #3f2b96,
    757px 1148px #3f2b96, 1670px 1979px #3f2b96, 343px 739px #3f2b96, 945px 795px #3f2b96,
    576px 1903px #3f2b96, 1078px 1436px #3f2b96, 1583px 450px #3f2b96, 1366px 474px #3f2b96,
    297px 1873px #3f2b96, 192px 162px #3f2b96, 1624px 1633px #3f2b96, 59px 453px #3f2b96,
    82px 1872px #3f2b96, 1933px 498px #3f2b96, 1966px 1974px #3f2b96, 1975px 1688px #3f2b96,
    779px 314px #3f2b96, 1858px 1543px #3f2b96, 73px 1507px #3f2b96, 1693px 975px #3f2b96,
    1683px 108px #3f2b96, 1768px 1654px #3f2b96, 654px 14px #3f2b96, 494px 171px #3f2b96,
    1689px 1895px #3f2b96, 1660px 263px #3f2b96, 1031px 903px #3f2b96, 1203px 1393px #3f2b96,
    1333px 1421px #3f2b96, 1113px 41px #3f2b96, 1206px 1645px #3f2b96, 1325px 1635px #3f2b96,
    142px 388px #3f2b96, 572px 215px #3f2b96, 1535px 296px #3f2b96, 1419px 407px #3f2b96,
    1379px 1003px #3f2b96, 329px 469px #3f2b96, 1791px 1652px #3f2b96, 935px 1802px #3f2b96,
    1330px 1820px #3f2b96, 421px 1933px #3f2b96, 828px 365px #3f2b96, 275px 316px #3f2b96,
    707px 960px #3f2b96, 1605px 1554px #3f2b96, 625px 58px #3f2b96, 717px 1697px #3f2b96,
    1669px 246px #3f2b96, 1925px 322px #3f2b96, 1154px 1803px #3f2b96, 1929px 295px #3f2b96,
    1248px 240px #3f2b96, 1045px 1755px #3f2b96, 166px 942px #3f2b96, 1888px 1773px #3f2b96,
    678px 1963px #3f2b96, 1370px 569px #3f2b96, 1974px 1400px #3f2b96, 1786px 460px #3f2b96,
    51px 307px #3f2b96, 784px 1400px #3f2b96, 730px 1258px #3f2b96, 1712px 393px #3f2b96,
    416px 170px #3f2b96, 1797px 1932px #3f2b96, 572px 219px #3f2b96, 1557px 1856px #3f2b96,
    218px 8px #3f2b96, 348px 1334px #3f2b96, 469px 413px #3f2b96, 385px 1738px #3f2b96,
    1357px 1818px #3f2b96, 240px 942px #3f2b96, 248px 1847px #3f2b96, 1535px 806px #3f2b96,
    236px 1514px #3f2b96, 1429px 1556px #3f2b96, 73px 1633px #3f2b96, 1398px 1121px #3f2b96,
    671px 1301px #3f2b96, 1404px 1663px #3f2b96, 740px 1018px #3f2b96, 1600px 377px #3f2b96,
    785px 514px #3f2b96, 112px 1084px #3f2b96, 1915px 1887px #3f2b96, 1463px 1848px #3f2b96,
    687px 1115px #3f2b96, 1268px 1768px #3f2b96, 1729px 1425px #3f2b96,
    1284px 1022px #3f2b96, 801px 974px #3f2b96, 1975px 1317px #3f2b96, 1354px 834px #3f2b96,
    1446px 1484px #3f2b96, 1283px 1786px #3f2b96, 11px 523px #3f2b96, 1842px 236px #3f2b96,
    1355px 654px #3f2b96, 429px 7px #3f2b96, 1033px 1128px #3f2b96, 157px 297px #3f2b96,
    545px 635px #3f2b96, 52px 1080px #3f2b96, 827px 1520px #3f2b96, 1121px 490px #3f2b96,
    9px 309px #3f2b96, 1744px 1586px #3f2b96, 1014px 417px #3f2b96, 1534px 524px #3f2b96,
    958px 552px #3f2b96, 1403px 1496px #3f2b96, 387px 703px #3f2b96, 1522px 548px #3f2b96,
    1355px 282px #3f2b96, 1532px 601px #3f2b96, 1838px 790px #3f2b96, 290px 259px #3f2b96,
    295px 598px #3f2b96, 1601px 539px #3f2b96, 1561px 1272px #3f2b96, 34px 1922px #3f2b96,
    1024px 543px #3f2b96, 467px 369px #3f2b96, 722px 333px #3f2b96, 1976px 1255px #3f2b96,
    766px 983px #3f2b96, 1582px 1285px #3f2b96, 12px 512px #3f2b96, 617px 1410px #3f2b96,
    682px 577px #3f2b96, 1334px 1438px #3f2b96, 439px 327px #3f2b96, 1617px 1661px #3f2b96,
    673px 129px #3f2b96, 794px 941px #3f2b96, 1386px 1902px #3f2b96, 37px 1353px #3f2b96,
    1467px 1353px #3f2b96, 416px 18px #3f2b96, 187px 344px #3f2b96, 200px 1898px #3f2b96,
    1491px 1619px #3f2b96, 811px 347px #3f2b96, 924px 1827px #3f2b96, 945px 217px #3f2b96,
    1735px 1228px #3f2b96, 379px 1890px #3f2b96, 79px 761px #3f2b96, 825px 1837px #3f2b96,
    1980px 1558px #3f2b96, 1308px 1573px #3f2b96, 1488px 1726px #3f2b96,
    382px 1208px #3f2b96, 522px 595px #3f2b96, 1277px 1898px #3f2b96, 354px 552px #3f2b96,
    161px 1784px #3f2b96, 614px 251px #3f2b96, 526px 1576px #3f2b96, 17px 212px #3f2b96,
    179px 996px #3f2b96, 467px 1208px #3f2b96, 1944px 1838px #3f2b96, 1140px 1093px #3f2b96,
    858px 1007px #3f2b96, 200px 1064px #3f2b96, 423px 1964px #3f2b96, 1945px 439px #3f2b96,
    1377px 689px #3f2b96, 1120px 1437px #3f2b96, 1876px 668px #3f2b96, 907px 1324px #3f2b96,
    343px 1976px #3f2b96, 1816px 1501px #3f2b96, 1849px 177px #3f2b96, 647px 91px #3f2b96,
    1984px 1012px #3f2b96, 1336px 1300px #3f2b96, 128px 648px #3f2b96, 305px 1060px #3f2b96,
    1324px 826px #3f2b96, 1263px 1314px #3f2b96, 1801px 629px #3f2b96, 1614px 1555px #3f2b96,
    1634px 90px #3f2b96, 1603px 452px #3f2b96, 891px 1984px #3f2b96, 1556px 1906px #3f2b96,
    121px 68px #3f2b96, 1676px 1714px #3f2b96, 516px 936px #3f2b96, 1947px 1492px #3f2b96,
    1455px 1519px #3f2b96, 45px 602px #3f2b96, 205px 1039px #3f2b96, 793px 172px #3f2b96,
    1562px 1739px #3f2b96, 1056px 110px #3f2b96, 1512px 379px #3f2b96, 1795px 1621px #3f2b96,
    1848px 607px #3f2b96, 262px 1719px #3f2b96, 477px 991px #3f2b96, 483px 883px #3f2b96,
    1239px 1197px #3f2b96, 1496px 647px #3f2b96, 1649px 25px #3f2b96, 1491px 1946px #3f2b96,
    119px 996px #3f2b96, 179px 1472px #3f2b96, 1341px 808px #3f2b96, 1565px 1700px #3f2b96,
    407px 1544px #3f2b96, 1754px 357px #3f2b96, 1288px 981px #3f2b96, 902px 1997px #3f2b96,
    1755px 1668px #3f2b96, 186px 877px #3f2b96, 1202px 1882px #3f2b96, 461px 1213px #3f2b96,
    1400px 748px #3f2b96, 1969px 1899px #3f2b96, 809px 522px #3f2b96, 514px 1219px #3f2b96,
    374px 275px #3f2b96, 938px 1973px #3f2b96, 357px 552px #3f2b96, 144px 1722px #3f2b96,
    1572px 912px #3f2b96, 402px 1858px #3f2b96, 1544px 1195px #3f2b96, 667px 1257px #3f2b96,
    727px 1496px #3f2b96, 993px 232px #3f2b96, 1772px 313px #3f2b96, 1040px 1590px #3f2b96,
    1204px 1973px #3f2b96, 1268px 79px #3f2b96, 1555px 1048px #3f2b96, 986px 1707px #3f2b96,
    978px 1710px #3f2b96, 713px 360px #3f2b96, 407px 863px #3f2b96, 461px 736px #3f2b96,
    284px 1608px #3f2b96, 103px 430px #3f2b96, 1283px 1319px #3f2b96, 977px 1186px #3f2b96,
    1966px 1516px #3f2b96, 1287px 1129px #3f2b96, 70px 1098px #3f2b96, 1189px 889px #3f2b96,
    1126px 1734px #3f2b96, 309px 1292px #3f2b96, 879px 764px #3f2b96, 65px 473px #3f2b96,
    1003px 1959px #3f2b96, 658px 791px #3f2b96, 402px 1576px #3f2b96, 35px 622px #3f2b96,
    529px 1589px #3f2b96, 164px 666px #3f2b96, 1876px 1290px #3f2b96, 1541px 526px #3f2b96,
    270px 1297px #3f2b96, 440px 865px #3f2b96, 1500px 802px #3f2b96, 182px 1754px #3f2b96,
    1264px 892px #3f2b96, 272px 1249px #3f2b96, 1289px 1535px #3f2b96, 190px 1646px #3f2b96,
    955px 242px #3f2b96, 1456px 1597px #3f2b96, 1727px 1983px #3f2b96, 635px 801px #3f2b96,
    226px 455px #3f2b96, 1396px 1710px #3f2b96, 849px 1863px #3f2b96, 237px 1264px #3f2b96,
    839px 140px #3f2b96, 1122px 735px #3f2b96, 1280px 15px #3f2b96, 1318px 242px #3f2b96,
    1819px 1148px #3f2b96, 333px 1392px #3f2b96, 1949px 553px #3f2b96, 1878px 1332px #3f2b96,
    467px 548px #3f2b96, 1812px 1082px #3f2b96, 1067px 193px #3f2b96, 243px 156px #3f2b96,
    483px 1616px #3f2b96, 1714px 933px #3f2b96, 759px 1800px #3f2b96, 1822px 995px #3f2b96,
    1877px 572px #3f2b96, 581px 1084px #3f2b96, 107px 732px #3f2b96, 642px 1837px #3f2b96,
    166px 1493px #3f2b96, 1555px 198px #3f2b96, 819px 307px #3f2b96, 947px 345px #3f2b96,
    827px 224px #3f2b96, 927px 1394px #3f2b96, 540px 467px #3f2b96, 1093px 405px #3f2b96,
    1140px 927px #3f2b96, 130px 529px #3f2b96, 33px 1980px #3f2b96, 1147px 1663px #3f2b96,
    1616px 1436px #3f2b96, 528px 710px #3f2b96, 798px 1100px #3f2b96, 505px 1480px #3f2b96,
    899px 641px #3f2b96, 1909px 1949px #3f2b96, 1311px 964px #3f2b96, 979px 1301px #3f2b96,
    1393px 969px #3f2b96, 1793px 1886px #3f2b96, 292px 357px #3f2b96, 1196px 1718px #3f2b96,
    1290px 1994px #3f2b96, 537px 1973px #3f2b96, 1181px 1674px #3f2b96,
    1740px 1566px #3f2b96, 1307px 265px #3f2b96, 922px 522px #3f2b96, 1892px 472px #3f2b96,
    384px 1746px #3f2b96, 392px 1098px #3f2b96, 647px 548px #3f2b96, 390px 1498px #3f2b96,
    1246px 138px #3f2b96, 730px 876px #3f2b96, 192px 1472px #3f2b96, 1790px 1789px #3f2b96,
    928px 311px #3f2b96, 1253px 1647px #3f2b96, 747px 1921px #3f2b96, 1561px 1025px #3f2b96,
    1533px 1292px #3f2b96, 1985px 195px #3f2b96, 728px 729px #3f2b96, 1712px 1936px #3f2b96,
    512px 1717px #3f2b96, 1528px 483px #3f2b96, 313px 1642px #3f2b96, 281px 1849px #3f2b96,
    1212px 799px #3f2b96, 435px 1191px #3f2b96, 1422px 611px #3f2b96, 1718px 1964px #3f2b96,
    411px 944px #3f2b96, 210px 636px #3f2b96, 1502px 1295px #3f2b96, 1434px 349px #3f2b96,
    769px 60px #3f2b96, 747px 1053px #3f2b96, 789px 504px #3f2b96, 1436px 1264px #3f2b96,
    1893px 1225px #3f2b96, 1394px 1788px #3f2b96, 1108px 1317px #3f2b96,
    1673px 1395px #3f2b96, 854px 1010px #3f2b96, 1705px 80px #3f2b96, 1858px 148px #3f2b96,
    1729px 344px #3f2b96, 1388px 664px #3f2b96, 895px 406px #3f2b96, 1479px 157px #3f2b96,
    1441px 1157px #3f2b96, 552px 1900px #3f2b96, 516px 364px #3f2b96, 1647px 189px #3f2b96,
    1427px 1071px #3f2b96, 785px 729px #3f2b96, 1080px 1710px #3f2b96, 504px 204px #3f2b96,
    1177px 1622px #3f2b96, 657px 34px #3f2b96, 1296px 1099px #3f2b96, 248px 180px #3f2b96,
    1212px 1568px #3f2b96, 667px 1562px #3f2b96, 695px 841px #3f2b96, 1608px 1247px #3f2b96,
    751px 882px #3f2b96, 87px 167px #3f2b96, 607px 1368px #3f2b96, 1363px 1203px #3f2b96,
    1836px 317px #3f2b96, 1668px 1703px #3f2b96, 830px 1154px #3f2b96, 1721px 1398px #3f2b96,
    1601px 1280px #3f2b96, 976px 874px #3f2b96, 1743px 254px #3f2b96, 1020px 1815px #3f2b96,
    1670px 1766px #3f2b96, 1890px 735px #3f2b96, 1379px 136px #3f2b96, 1864px 695px #3f2b96,
    206px 965px #3f2b96, 1404px 1932px #3f2b96, 1923px 1360px #3f2b96, 247px 682px #3f2b96,
    519px 1708px #3f2b96, 645px 750px #3f2b96, 1164px 1204px #3f2b96, 834px 323px #3f2b96,
    172px 1350px #3f2b96, 213px 972px #3f2b96, 1837px 190px #3f2b96, 285px 1806px #3f2b96,
    1047px 1299px #3f2b96, 1548px 825px #3f2b96, 1730px 324px #3f2b96, 1346px 1909px #3f2b96,
    772px 270px #3f2b96, 345px 1190px #3f2b96, 478px 1433px #3f2b96, 1479px 25px #3f2b96,
    1994px 1830px #3f2b96, 1744px 732px #3f2b96, 20px 1635px #3f2b96, 690px 1795px #3f2b96,
    1594px 569px #3f2b96, 579px 245px #3f2b96, 1398px 733px #3f2b96, 408px 1352px #3f2b96,
    1774px 120px #3f2b96, 1152px 1370px #3f2b96, 1698px 1810px #3f2b96, 710px 1450px #3f2b96,
    665px 286px #3f2b96, 493px 1720px #3f2b96, 786px 5px #3f2b96, 637px 1140px #3f2b96,
    764px 324px #3f2b96, 927px 310px #3f2b96, 938px 1424px #3f2b96, 1884px 744px #3f2b96,
    913px 462px #3f2b96, 1831px 1936px #3f2b96, 1527px 249px #3f2b96, 36px 1381px #3f2b96,
    1597px 581px #3f2b96, 1530px 355px #3f2b96, 949px 459px #3f2b96, 799px 828px #3f2b96,
    242px 1471px #3f2b96, 654px 797px #3f2b96, 796px 594px #3f2b96, 1365px 678px #3f2b96,
    752px 23px #3f2b96, 1630px 541px #3f2b96, 982px 72px #3f2b96, 1733px 1831px #3f2b96,
    21px 412px #3f2b96, 775px 998px #3f2b96, 335px 1945px #3f2b96, 264px 583px #3f2b96,
    158px 1311px #3f2b96, 528px 164px #3f2b96, 1978px 574px #3f2b96, 717px 1203px #3f2b96,
    734px 1591px #3f2b96, 1555px 820px #3f2b96, 16px 1943px #3f2b96, 1625px 1177px #3f2b96,
    1236px 690px #3f2b96, 1585px 1590px #3f2b96, 1737px 1728px #3f2b96, 721px 698px #3f2b96,
    1804px 1186px #3f2b96, 166px 980px #3f2b96, 1850px 230px #3f2b96, 330px 1712px #3f2b96,
    95px 797px #3f2b96, 1948px 1078px #3f2b96, 469px 939px #3f2b96, 1269px 1899px #3f2b96,
    955px 1220px #3f2b96, 1137px 1075px #3f2b96, 312px 1293px #3f2b96, 986px 1762px #3f2b96,
    1103px 1238px #3f2b96, 428px 1993px #3f2b96, 355px 570px #3f2b96, 977px 1836px #3f2b96,
    1395px 1092px #3f2b96, 276px 913px #3f2b96, 1743px 656px #3f2b96, 773px 502px #3f2b96,
    1686px 1322px #3f2b96, 1516px 1945px #3f2b96, 1334px 501px #3f2b96, 266px 156px #3f2b96,
    455px 655px #3f2b96, 798px 72px #3f2b96, 1059px 1259px #3f2b96, 1402px 1687px #3f2b96,
    236px 1329px #3f2b96, 1455px 786px #3f2b96, 146px 1228px #3f2b96, 1851px 823px #3f2b96,
    1062px 100px #3f2b96, 1220px 953px #3f2b96, 20px 1826px #3f2b96, 36px 1063px #3f2b96,
    1525px 338px #3f2b96, 790px 1521px #3f2b96, 741px 1099px #3f2b96, 288px 1489px #3f2b96,
    700px 1060px #3f2b96, 390px 1071px #3f2b96, 411px 1036px #3f2b96, 1853px 1072px #3f2b96,
    1446px 1085px #3f2b96, 1164px 874px #3f2b96, 924px 925px #3f2b96, 291px 271px #3f2b96,
    1257px 1964px #3f2b96, 1580px 1352px #3f2b96, 1507px 1216px #3f2b96, 211px 956px #3f2b96,
    985px 1195px #3f2b96, 975px 1640px #3f2b96, 518px 101px #3f2b96, 663px 1395px #3f2b96,
    914px 532px #3f2b96, 145px 1320px #3f2b96, 69px 1397px #3f2b96, 982px 523px #3f2b96,
    257px 725px #3f2b96, 1599px 831px #3f2b96, 1636px 1513px #3f2b96, 1250px 1158px #3f2b96,
    1132px 604px #3f2b96, 183px 102px #3f2b96, 1057px 318px #3f2b96, 1247px 1835px #3f2b96,
    1983px 1110px #3f2b96, 1077px 1455px #3f2b96, 921px 1770px #3f2b96, 806px 1350px #3f2b96,
    1938px 1992px #3f2b96, 855px 1260px #3f2b96, 902px 1345px #3f2b96, 658px 1908px #3f2b96,
    1845px 679px #3f2b96, 712px 1482px #3f2b96, 595px 950px #3f2b96, 1784px 1992px #3f2b96,
    1847px 1785px #3f2b96, 691px 1004px #3f2b96, 175px 1179px #3f2b96, 1666px 1911px #3f2b96,
    41px 61px #3f2b96, 971px 1080px #3f2b96, 1830px 1450px #3f2b96, 1351px 1518px #3f2b96,
    1257px 99px #3f2b96, 1395px 1498px #3f2b96, 1117px 252px #3f2b96, 1779px 597px #3f2b96,
    1346px 729px #3f2b96, 1108px 1144px #3f2b96, 402px 691px #3f2b96, 72px 496px #3f2b96,
    1673px 1604px #3f2b96, 1497px 974px #3f2b96, 1865px 1664px #3f2b96, 88px 806px #3f2b96,
    918px 77px #3f2b96, 244px 1118px #3f2b96, 256px 1820px #3f2b96, 1851px 1840px #3f2b96,
    605px 1851px #3f2b96, 634px 383px #3f2b96, 865px 37px #3f2b96, 943px 1024px #3f2b96,
    1951px 177px #3f2b96, 1097px 523px #3f2b96, 985px 1700px #3f2b96, 1243px 122px #3f2b96,
    768px 1070px #3f2b96, 468px 194px #3f2b96, 320px 1867px #3f2b96, 1850px 185px #3f2b96,
    380px 1616px #3f2b96, 468px 1294px #3f2b96, 1122px 1743px #3f2b96, 884px 299px #3f2b96,
    1300px 1917px #3f2b96, 1860px 396px #3f2b96, 1270px 990px #3f2b96, 529px 733px #3f2b96,
    1975px 1347px #3f2b96, 1885px 685px #3f2b96, 226px 506px #3f2b96, 651px 878px #3f2b96,
    1323px 680px #3f2b96, 1284px 680px #3f2b96, 238px 1967px #3f2b96, 911px 174px #3f2b96,
    1111px 521px #3f2b96, 1150px 85px #3f2b96, 794px 502px #3f2b96, 484px 1856px #3f2b96,
    1809px 368px #3f2b96, 112px 953px #3f2b96, 590px 1009px #3f2b96, 1655px 311px #3f2b96,
    100px 1026px #3f2b96, 1803px 352px #3f2b96, 865px 306px #3f2b96, 1077px 1019px #3f2b96,
    1335px 872px #3f2b96, 1647px 1298px #3f2b96, 1233px 1387px #3f2b96, 698px 1036px #3f2b96,
    659px 1860px #3f2b96, 388px 1412px #3f2b96, 1212px 458px #3f2b96, 755px 1468px #3f2b96,
    696px 1654px #3f2b96, 1144px 60px #3f2b96;
}

.stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 779px 1331px #3f2b96, 324px 42px #3f2b96, 303px 586px #3f2b96,
    1312px 276px #3f2b96, 451px 625px #3f2b96, 521px 1931px #3f2b96, 1087px 1871px #3f2b96,
    36px 1546px #3f2b96, 132px 934px #3f2b96, 1698px 901px #3f2b96, 1418px 664px #3f2b96,
    1448px 1157px #3f2b96, 1084px 232px #3f2b96, 347px 1776px #3f2b96, 1722px 243px #3f2b96,
    1629px 835px #3f2b96, 479px 969px #3f2b96, 1231px 960px #3f2b96, 586px 384px #3f2b96,
    164px 527px #3f2b96, 8px 646px #3f2b96, 1150px 1126px #3f2b96, 665px 1357px #3f2b96,
    1556px 1982px #3f2b96, 1260px 1961px #3f2b96, 1675px 1741px #3f2b96,
    1843px 1514px #3f2b96, 718px 1628px #3f2b96, 242px 1343px #3f2b96, 1497px 1880px #3f2b96,
    1364px 230px #3f2b96, 1739px 1302px #3f2b96, 636px 959px #3f2b96, 304px 686px #3f2b96,
    614px 751px #3f2b96, 1935px 816px #3f2b96, 1428px 60px #3f2b96, 355px 335px #3f2b96,
    1594px 158px #3f2b96, 90px 60px #3f2b96, 1553px 162px #3f2b96, 1239px 1825px #3f2b96,
    1945px 587px #3f2b96, 749px 1785px #3f2b96, 1987px 1172px #3f2b96, 1301px 1237px #3f2b96,
    1039px 342px #3f2b96, 1585px 1481px #3f2b96, 995px 1048px #3f2b96, 524px 932px #3f2b96,
    214px 413px #3f2b96, 1701px 1300px #3f2b96, 1037px 1613px #3f2b96, 1871px 996px #3f2b96,
    1360px 1635px #3f2b96, 1110px 1313px #3f2b96, 412px 1783px #3f2b96, 1949px 177px #3f2b96,
    903px 1854px #3f2b96, 700px 1936px #3f2b96, 378px 125px #3f2b96, 308px 834px #3f2b96,
    1118px 962px #3f2b96, 1350px 1929px #3f2b96, 781px 1811px #3f2b96, 561px 137px #3f2b96,
    757px 1148px #3f2b96, 1670px 1979px #3f2b96, 343px 739px #3f2b96, 945px 795px #3f2b96,
    576px 1903px #3f2b96, 1078px 1436px #3f2b96, 1583px 450px #3f2b96, 1366px 474px #3f2b96,
    297px 1873px #3f2b96, 192px 162px #3f2b96, 1624px 1633px #3f2b96, 59px 453px #3f2b96,
    82px 1872px #3f2b96, 1933px 498px #3f2b96, 1966px 1974px #3f2b96, 1975px 1688px #3f2b96,
    779px 314px #3f2b96, 1858px 1543px #3f2b96, 73px 1507px #3f2b96, 1693px 975px #3f2b96,
    1683px 108px #3f2b96, 1768px 1654px #3f2b96, 654px 14px #3f2b96, 494px 171px #3f2b96,
    1689px 1895px #3f2b96, 1660px 263px #3f2b96, 1031px 903px #3f2b96, 1203px 1393px #3f2b96,
    1333px 1421px #3f2b96, 1113px 41px #3f2b96, 1206px 1645px #3f2b96, 1325px 1635px #3f2b96,
    142px 388px #3f2b96, 572px 215px #3f2b96, 1535px 296px #3f2b96, 1419px 407px #3f2b96,
    1379px 1003px #3f2b96, 329px 469px #3f2b96, 1791px 1652px #3f2b96, 935px 1802px #3f2b96,
    1330px 1820px #3f2b96, 421px 1933px #3f2b96, 828px 365px #3f2b96, 275px 316px #3f2b96,
    707px 960px #3f2b96, 1605px 1554px #3f2b96, 625px 58px #3f2b96, 717px 1697px #3f2b96,
    1669px 246px #3f2b96, 1925px 322px #3f2b96, 1154px 1803px #3f2b96, 1929px 295px #3f2b96,
    1248px 240px #3f2b96, 1045px 1755px #3f2b96, 166px 942px #3f2b96, 1888px 1773px #3f2b96,
    678px 1963px #3f2b96, 1370px 569px #3f2b96, 1974px 1400px #3f2b96, 1786px 460px #3f2b96,
    51px 307px #3f2b96, 784px 1400px #3f2b96, 730px 1258px #3f2b96, 1712px 393px #3f2b96,
    416px 170px #3f2b96, 1797px 1932px #3f2b96, 572px 219px #3f2b96, 1557px 1856px #3f2b96,
    218px 8px #3f2b96, 348px 1334px #3f2b96, 469px 413px #3f2b96, 385px 1738px #3f2b96,
    1357px 1818px #3f2b96, 240px 942px #3f2b96, 248px 1847px #3f2b96, 1535px 806px #3f2b96,
    236px 1514px #3f2b96, 1429px 1556px #3f2b96, 73px 1633px #3f2b96, 1398px 1121px #3f2b96,
    671px 1301px #3f2b96, 1404px 1663px #3f2b96, 740px 1018px #3f2b96, 1600px 377px #3f2b96,
    785px 514px #3f2b96, 112px 1084px #3f2b96, 1915px 1887px #3f2b96, 1463px 1848px #3f2b96,
    687px 1115px #3f2b96, 1268px 1768px #3f2b96, 1729px 1425px #3f2b96,
    1284px 1022px #3f2b96, 801px 974px #3f2b96, 1975px 1317px #3f2b96, 1354px 834px #3f2b96,
    1446px 1484px #3f2b96, 1283px 1786px #3f2b96, 11px 523px #3f2b96, 1842px 236px #3f2b96,
    1355px 654px #3f2b96, 429px 7px #3f2b96, 1033px 1128px #3f2b96, 157px 297px #3f2b96,
    545px 635px #3f2b96, 52px 1080px #3f2b96, 827px 1520px #3f2b96, 1121px 490px #3f2b96,
    9px 309px #3f2b96, 1744px 1586px #3f2b96, 1014px 417px #3f2b96, 1534px 524px #3f2b96,
    958px 552px #3f2b96, 1403px 1496px #3f2b96, 387px 703px #3f2b96, 1522px 548px #3f2b96,
    1355px 282px #3f2b96, 1532px 601px #3f2b96, 1838px 790px #3f2b96, 290px 259px #3f2b96,
    295px 598px #3f2b96, 1601px 539px #3f2b96, 1561px 1272px #3f2b96, 34px 1922px #3f2b96,
    1024px 543px #3f2b96, 467px 369px #3f2b96, 722px 333px #3f2b96, 1976px 1255px #3f2b96,
    766px 983px #3f2b96, 1582px 1285px #3f2b96, 12px 512px #3f2b96, 617px 1410px #3f2b96,
    682px 577px #3f2b96, 1334px 1438px #3f2b96, 439px 327px #3f2b96, 1617px 1661px #3f2b96,
    673px 129px #3f2b96, 794px 941px #3f2b96, 1386px 1902px #3f2b96, 37px 1353px #3f2b96,
    1467px 1353px #3f2b96, 416px 18px #3f2b96, 187px 344px #3f2b96, 200px 1898px #3f2b96,
    1491px 1619px #3f2b96, 811px 347px #3f2b96, 924px 1827px #3f2b96, 945px 217px #3f2b96,
    1735px 1228px #3f2b96, 379px 1890px #3f2b96, 79px 761px #3f2b96, 825px 1837px #3f2b96,
    1980px 1558px #3f2b96, 1308px 1573px #3f2b96, 1488px 1726px #3f2b96,
    382px 1208px #3f2b96, 522px 595px #3f2b96, 1277px 1898px #3f2b96, 354px 552px #3f2b96,
    161px 1784px #3f2b96, 614px 251px #3f2b96, 526px 1576px #3f2b96, 17px 212px #3f2b96,
    179px 996px #3f2b96, 467px 1208px #3f2b96, 1944px 1838px #3f2b96, 1140px 1093px #3f2b96,
    858px 1007px #3f2b96, 200px 1064px #3f2b96, 423px 1964px #3f2b96, 1945px 439px #3f2b96,
    1377px 689px #3f2b96, 1120px 1437px #3f2b96, 1876px 668px #3f2b96, 907px 1324px #3f2b96,
    343px 1976px #3f2b96, 1816px 1501px #3f2b96, 1849px 177px #3f2b96, 647px 91px #3f2b96,
    1984px 1012px #3f2b96, 1336px 1300px #3f2b96, 128px 648px #3f2b96, 305px 1060px #3f2b96,
    1324px 826px #3f2b96, 1263px 1314px #3f2b96, 1801px 629px #3f2b96, 1614px 1555px #3f2b96,
    1634px 90px #3f2b96, 1603px 452px #3f2b96, 891px 1984px #3f2b96, 1556px 1906px #3f2b96,
    121px 68px #3f2b96, 1676px 1714px #3f2b96, 516px 936px #3f2b96, 1947px 1492px #3f2b96,
    1455px 1519px #3f2b96, 45px 602px #3f2b96, 205px 1039px #3f2b96, 793px 172px #3f2b96,
    1562px 1739px #3f2b96, 1056px 110px #3f2b96, 1512px 379px #3f2b96, 1795px 1621px #3f2b96,
    1848px 607px #3f2b96, 262px 1719px #3f2b96, 477px 991px #3f2b96, 483px 883px #3f2b96,
    1239px 1197px #3f2b96, 1496px 647px #3f2b96, 1649px 25px #3f2b96, 1491px 1946px #3f2b96,
    119px 996px #3f2b96, 179px 1472px #3f2b96, 1341px 808px #3f2b96, 1565px 1700px #3f2b96,
    407px 1544px #3f2b96, 1754px 357px #3f2b96, 1288px 981px #3f2b96, 902px 1997px #3f2b96,
    1755px 1668px #3f2b96, 186px 877px #3f2b96, 1202px 1882px #3f2b96, 461px 1213px #3f2b96,
    1400px 748px #3f2b96, 1969px 1899px #3f2b96, 809px 522px #3f2b96, 514px 1219px #3f2b96,
    374px 275px #3f2b96, 938px 1973px #3f2b96, 357px 552px #3f2b96, 144px 1722px #3f2b96,
    1572px 912px #3f2b96, 402px 1858px #3f2b96, 1544px 1195px #3f2b96, 667px 1257px #3f2b96,
    727px 1496px #3f2b96, 993px 232px #3f2b96, 1772px 313px #3f2b96, 1040px 1590px #3f2b96,
    1204px 1973px #3f2b96, 1268px 79px #3f2b96, 1555px 1048px #3f2b96, 986px 1707px #3f2b96,
    978px 1710px #3f2b96, 713px 360px #3f2b96, 407px 863px #3f2b96, 461px 736px #3f2b96,
    284px 1608px #3f2b96, 103px 430px #3f2b96, 1283px 1319px #3f2b96, 977px 1186px #3f2b96,
    1966px 1516px #3f2b96, 1287px 1129px #3f2b96, 70px 1098px #3f2b96, 1189px 889px #3f2b96,
    1126px 1734px #3f2b96, 309px 1292px #3f2b96, 879px 764px #3f2b96, 65px 473px #3f2b96,
    1003px 1959px #3f2b96, 658px 791px #3f2b96, 402px 1576px #3f2b96, 35px 622px #3f2b96,
    529px 1589px #3f2b96, 164px 666px #3f2b96, 1876px 1290px #3f2b96, 1541px 526px #3f2b96,
    270px 1297px #3f2b96, 440px 865px #3f2b96, 1500px 802px #3f2b96, 182px 1754px #3f2b96,
    1264px 892px #3f2b96, 272px 1249px #3f2b96, 1289px 1535px #3f2b96, 190px 1646px #3f2b96,
    955px 242px #3f2b96, 1456px 1597px #3f2b96, 1727px 1983px #3f2b96, 635px 801px #3f2b96,
    226px 455px #3f2b96, 1396px 1710px #3f2b96, 849px 1863px #3f2b96, 237px 1264px #3f2b96,
    839px 140px #3f2b96, 1122px 735px #3f2b96, 1280px 15px #3f2b96, 1318px 242px #3f2b96,
    1819px 1148px #3f2b96, 333px 1392px #3f2b96, 1949px 553px #3f2b96, 1878px 1332px #3f2b96,
    467px 548px #3f2b96, 1812px 1082px #3f2b96, 1067px 193px #3f2b96, 243px 156px #3f2b96,
    483px 1616px #3f2b96, 1714px 933px #3f2b96, 759px 1800px #3f2b96, 1822px 995px #3f2b96,
    1877px 572px #3f2b96, 581px 1084px #3f2b96, 107px 732px #3f2b96, 642px 1837px #3f2b96,
    166px 1493px #3f2b96, 1555px 198px #3f2b96, 819px 307px #3f2b96, 947px 345px #3f2b96,
    827px 224px #3f2b96, 927px 1394px #3f2b96, 540px 467px #3f2b96, 1093px 405px #3f2b96,
    1140px 927px #3f2b96, 130px 529px #3f2b96, 33px 1980px #3f2b96, 1147px 1663px #3f2b96,
    1616px 1436px #3f2b96, 528px 710px #3f2b96, 798px 1100px #3f2b96, 505px 1480px #3f2b96,
    899px 641px #3f2b96, 1909px 1949px #3f2b96, 1311px 964px #3f2b96, 979px 1301px #3f2b96,
    1393px 969px #3f2b96, 1793px 1886px #3f2b96, 292px 357px #3f2b96, 1196px 1718px #3f2b96,
    1290px 1994px #3f2b96, 537px 1973px #3f2b96, 1181px 1674px #3f2b96,
    1740px 1566px #3f2b96, 1307px 265px #3f2b96, 922px 522px #3f2b96, 1892px 472px #3f2b96,
    384px 1746px #3f2b96, 392px 1098px #3f2b96, 647px 548px #3f2b96, 390px 1498px #3f2b96,
    1246px 138px #3f2b96, 730px 876px #3f2b96, 192px 1472px #3f2b96, 1790px 1789px #3f2b96,
    928px 311px #3f2b96, 1253px 1647px #3f2b96, 747px 1921px #3f2b96, 1561px 1025px #3f2b96,
    1533px 1292px #3f2b96, 1985px 195px #3f2b96, 728px 729px #3f2b96, 1712px 1936px #3f2b96,
    512px 1717px #3f2b96, 1528px 483px #3f2b96, 313px 1642px #3f2b96, 281px 1849px #3f2b96,
    1212px 799px #3f2b96, 435px 1191px #3f2b96, 1422px 611px #3f2b96, 1718px 1964px #3f2b96,
    411px 944px #3f2b96, 210px 636px #3f2b96, 1502px 1295px #3f2b96, 1434px 349px #3f2b96,
    769px 60px #3f2b96, 747px 1053px #3f2b96, 789px 504px #3f2b96, 1436px 1264px #3f2b96,
    1893px 1225px #3f2b96, 1394px 1788px #3f2b96, 1108px 1317px #3f2b96,
    1673px 1395px #3f2b96, 854px 1010px #3f2b96, 1705px 80px #3f2b96, 1858px 148px #3f2b96,
    1729px 344px #3f2b96, 1388px 664px #3f2b96, 895px 406px #3f2b96, 1479px 157px #3f2b96,
    1441px 1157px #3f2b96, 552px 1900px #3f2b96, 516px 364px #3f2b96, 1647px 189px #3f2b96,
    1427px 1071px #3f2b96, 785px 729px #3f2b96, 1080px 1710px #3f2b96, 504px 204px #3f2b96,
    1177px 1622px #3f2b96, 657px 34px #3f2b96, 1296px 1099px #3f2b96, 248px 180px #3f2b96,
    1212px 1568px #3f2b96, 667px 1562px #3f2b96, 695px 841px #3f2b96, 1608px 1247px #3f2b96,
    751px 882px #3f2b96, 87px 167px #3f2b96, 607px 1368px #3f2b96, 1363px 1203px #3f2b96,
    1836px 317px #3f2b96, 1668px 1703px #3f2b96, 830px 1154px #3f2b96, 1721px 1398px #3f2b96,
    1601px 1280px #3f2b96, 976px 874px #3f2b96, 1743px 254px #3f2b96, 1020px 1815px #3f2b96,
    1670px 1766px #3f2b96, 1890px 735px #3f2b96, 1379px 136px #3f2b96, 1864px 695px #3f2b96,
    206px 965px #3f2b96, 1404px 1932px #3f2b96, 1923px 1360px #3f2b96, 247px 682px #3f2b96,
    519px 1708px #3f2b96, 645px 750px #3f2b96, 1164px 1204px #3f2b96, 834px 323px #3f2b96,
    172px 1350px #3f2b96, 213px 972px #3f2b96, 1837px 190px #3f2b96, 285px 1806px #3f2b96,
    1047px 1299px #3f2b96, 1548px 825px #3f2b96, 1730px 324px #3f2b96, 1346px 1909px #3f2b96,
    772px 270px #3f2b96, 345px 1190px #3f2b96, 478px 1433px #3f2b96, 1479px 25px #3f2b96,
    1994px 1830px #3f2b96, 1744px 732px #3f2b96, 20px 1635px #3f2b96, 690px 1795px #3f2b96,
    1594px 569px #3f2b96, 579px 245px #3f2b96, 1398px 733px #3f2b96, 408px 1352px #3f2b96,
    1774px 120px #3f2b96, 1152px 1370px #3f2b96, 1698px 1810px #3f2b96, 710px 1450px #3f2b96,
    665px 286px #3f2b96, 493px 1720px #3f2b96, 786px 5px #3f2b96, 637px 1140px #3f2b96,
    764px 324px #3f2b96, 927px 310px #3f2b96, 938px 1424px #3f2b96, 1884px 744px #3f2b96,
    913px 462px #3f2b96, 1831px 1936px #3f2b96, 1527px 249px #3f2b96, 36px 1381px #3f2b96,
    1597px 581px #3f2b96, 1530px 355px #3f2b96, 949px 459px #3f2b96, 799px 828px #3f2b96,
    242px 1471px #3f2b96, 654px 797px #3f2b96, 796px 594px #3f2b96, 1365px 678px #3f2b96,
    752px 23px #3f2b96, 1630px 541px #3f2b96, 982px 72px #3f2b96, 1733px 1831px #3f2b96,
    21px 412px #3f2b96, 775px 998px #3f2b96, 335px 1945px #3f2b96, 264px 583px #3f2b96,
    158px 1311px #3f2b96, 528px 164px #3f2b96, 1978px 574px #3f2b96, 717px 1203px #3f2b96,
    734px 1591px #3f2b96, 1555px 820px #3f2b96, 16px 1943px #3f2b96, 1625px 1177px #3f2b96,
    1236px 690px #3f2b96, 1585px 1590px #3f2b96, 1737px 1728px #3f2b96, 721px 698px #3f2b96,
    1804px 1186px #3f2b96, 166px 980px #3f2b96, 1850px 230px #3f2b96, 330px 1712px #3f2b96,
    95px 797px #3f2b96, 1948px 1078px #3f2b96, 469px 939px #3f2b96, 1269px 1899px #3f2b96,
    955px 1220px #3f2b96, 1137px 1075px #3f2b96, 312px 1293px #3f2b96, 986px 1762px #3f2b96,
    1103px 1238px #3f2b96, 428px 1993px #3f2b96, 355px 570px #3f2b96, 977px 1836px #3f2b96,
    1395px 1092px #3f2b96, 276px 913px #3f2b96, 1743px 656px #3f2b96, 773px 502px #3f2b96,
    1686px 1322px #3f2b96, 1516px 1945px #3f2b96, 1334px 501px #3f2b96, 266px 156px #3f2b96,
    455px 655px #3f2b96, 798px 72px #3f2b96, 1059px 1259px #3f2b96, 1402px 1687px #3f2b96,
    236px 1329px #3f2b96, 1455px 786px #3f2b96, 146px 1228px #3f2b96, 1851px 823px #3f2b96,
    1062px 100px #3f2b96, 1220px 953px #3f2b96, 20px 1826px #3f2b96, 36px 1063px #3f2b96,
    1525px 338px #3f2b96, 790px 1521px #3f2b96, 741px 1099px #3f2b96, 288px 1489px #3f2b96,
    700px 1060px #3f2b96, 390px 1071px #3f2b96, 411px 1036px #3f2b96, 1853px 1072px #3f2b96,
    1446px 1085px #3f2b96, 1164px 874px #3f2b96, 924px 925px #3f2b96, 291px 271px #3f2b96,
    1257px 1964px #3f2b96, 1580px 1352px #3f2b96, 1507px 1216px #3f2b96, 211px 956px #3f2b96,
    985px 1195px #3f2b96, 975px 1640px #3f2b96, 518px 101px #3f2b96, 663px 1395px #3f2b96,
    914px 532px #3f2b96, 145px 1320px #3f2b96, 69px 1397px #3f2b96, 982px 523px #3f2b96,
    257px 725px #3f2b96, 1599px 831px #3f2b96, 1636px 1513px #3f2b96, 1250px 1158px #3f2b96,
    1132px 604px #3f2b96, 183px 102px #3f2b96, 1057px 318px #3f2b96, 1247px 1835px #3f2b96,
    1983px 1110px #3f2b96, 1077px 1455px #3f2b96, 921px 1770px #3f2b96, 806px 1350px #3f2b96,
    1938px 1992px #3f2b96, 855px 1260px #3f2b96, 902px 1345px #3f2b96, 658px 1908px #3f2b96,
    1845px 679px #3f2b96, 712px 1482px #3f2b96, 595px 950px #3f2b96, 1784px 1992px #3f2b96,
    1847px 1785px #3f2b96, 691px 1004px #3f2b96, 175px 1179px #3f2b96, 1666px 1911px #3f2b96,
    41px 61px #3f2b96, 971px 1080px #3f2b96, 1830px 1450px #3f2b96, 1351px 1518px #3f2b96,
    1257px 99px #3f2b96, 1395px 1498px #3f2b96, 1117px 252px #3f2b96, 1779px 597px #3f2b96,
    1346px 729px #3f2b96, 1108px 1144px #3f2b96, 402px 691px #3f2b96, 72px 496px #3f2b96,
    1673px 1604px #3f2b96, 1497px 974px #3f2b96, 1865px 1664px #3f2b96, 88px 806px #3f2b96,
    918px 77px #3f2b96, 244px 1118px #3f2b96, 256px 1820px #3f2b96, 1851px 1840px #3f2b96,
    605px 1851px #3f2b96, 634px 383px #3f2b96, 865px 37px #3f2b96, 943px 1024px #3f2b96,
    1951px 177px #3f2b96, 1097px 523px #3f2b96, 985px 1700px #3f2b96, 1243px 122px #3f2b96,
    768px 1070px #3f2b96, 468px 194px #3f2b96, 320px 1867px #3f2b96, 1850px 185px #3f2b96,
    380px 1616px #3f2b96, 468px 1294px #3f2b96, 1122px 1743px #3f2b96, 884px 299px #3f2b96,
    1300px 1917px #3f2b96, 1860px 396px #3f2b96, 1270px 990px #3f2b96, 529px 733px #3f2b96,
    1975px 1347px #3f2b96, 1885px 685px #3f2b96, 226px 506px #3f2b96, 651px 878px #3f2b96,
    1323px 680px #3f2b96, 1284px 680px #3f2b96, 238px 1967px #3f2b96, 911px 174px #3f2b96,
    1111px 521px #3f2b96, 1150px 85px #3f2b96, 794px 502px #3f2b96, 484px 1856px #3f2b96,
    1809px 368px #3f2b96, 112px 953px #3f2b96, 590px 1009px #3f2b96, 1655px 311px #3f2b96,
    100px 1026px #3f2b96, 1803px 352px #3f2b96, 865px 306px #3f2b96, 1077px 1019px #3f2b96,
    1335px 872px #3f2b96, 1647px 1298px #3f2b96, 1233px 1387px #3f2b96, 698px 1036px #3f2b96,
    659px 1860px #3f2b96, 388px 1412px #3f2b96, 1212px 458px #3f2b96, 755px 1468px #3f2b96,
    696px 1654px #3f2b96, 1144px 60px #3f2b96;
}

.stars2 {
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 99999px;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #3f2b96, 1775px 1663px #3f2b96, 332px 1364px #3f2b96,
    878px 340px #3f2b96, 569px 1832px #3f2b96, 1422px 1684px #3f2b96, 1946px 1907px #3f2b96,
    121px 979px #3f2b96, 1044px 1069px #3f2b96, 463px 381px #3f2b96, 423px 112px #3f2b96,
    523px 1179px #3f2b96, 779px 654px #3f2b96, 1398px 694px #3f2b96, 1085px 1464px #3f2b96,
    1599px 1869px #3f2b96, 801px 1882px #3f2b96, 779px 1231px #3f2b96, 552px 932px #3f2b96,
    1057px 1196px #3f2b96, 282px 1280px #3f2b96, 496px 1986px #3f2b96, 1833px 1120px #3f2b96,
    1802px 1293px #3f2b96, 6px 1696px #3f2b96, 412px 1902px #3f2b96, 605px 438px #3f2b96,
    24px 1212px #3f2b96, 234px 1320px #3f2b96, 544px 344px #3f2b96, 1107px 170px #3f2b96,
    1603px 196px #3f2b96, 905px 648px #3f2b96, 68px 1458px #3f2b96, 649px 1969px #3f2b96,
    744px 675px #3f2b96, 1127px 478px #3f2b96, 714px 1814px #3f2b96, 1486px 526px #3f2b96,
    270px 1636px #3f2b96, 1931px 149px #3f2b96, 1807px 378px #3f2b96, 8px 390px #3f2b96,
    1415px 699px #3f2b96, 1473px 1211px #3f2b96, 1590px 141px #3f2b96, 270px 1705px #3f2b96,
    69px 1423px #3f2b96, 1108px 1053px #3f2b96, 1946px 128px #3f2b96, 371px 371px #3f2b96,
    1490px 220px #3f2b96, 357px 1885px #3f2b96, 363px 363px #3f2b96, 1896px 1256px #3f2b96,
    1979px 1050px #3f2b96, 947px 1342px #3f2b96, 1754px 242px #3f2b96, 514px 974px #3f2b96,
    65px 1477px #3f2b96, 1840px 547px #3f2b96, 950px 695px #3f2b96, 459px 1150px #3f2b96,
    1124px 1502px #3f2b96, 481px 940px #3f2b96, 680px 839px #3f2b96, 797px 1169px #3f2b96,
    1977px 1491px #3f2b96, 734px 1724px #3f2b96, 210px 298px #3f2b96, 816px 628px #3f2b96,
    686px 770px #3f2b96, 1721px 267px #3f2b96, 1663px 511px #3f2b96, 1481px 1141px #3f2b96,
    582px 248px #3f2b96, 1308px 953px #3f2b96, 628px 657px #3f2b96, 897px 1535px #3f2b96,
    270px 931px #3f2b96, 791px 467px #3f2b96, 1336px 1732px #3f2b96, 1013px 1653px #3f2b96,
    1911px 956px #3f2b96, 587px 816px #3f2b96, 83px 456px #3f2b96, 930px 1478px #3f2b96,
    1587px 1694px #3f2b96, 614px 1200px #3f2b96, 302px 1782px #3f2b96, 1711px 1432px #3f2b96,
    443px 904px #3f2b96, 1666px 714px #3f2b96, 1588px 1167px #3f2b96, 273px 1075px #3f2b96,
    1679px 461px #3f2b96, 721px 664px #3f2b96, 1202px 10px #3f2b96, 166px 1126px #3f2b96,
    331px 1628px #3f2b96, 430px 1565px #3f2b96, 1585px 509px #3f2b96, 640px 38px #3f2b96,
    822px 837px #3f2b96, 1760px 1664px #3f2b96, 1122px 1458px #3f2b96, 398px 131px #3f2b96,
    689px 285px #3f2b96, 460px 652px #3f2b96, 1627px 365px #3f2b96, 348px 1648px #3f2b96,
    819px 1946px #3f2b96, 981px 1917px #3f2b96, 323px 76px #3f2b96, 979px 684px #3f2b96,
    887px 536px #3f2b96, 1348px 1596px #3f2b96, 1055px 666px #3f2b96, 1402px 1797px #3f2b96,
    1300px 1055px #3f2b96, 937px 238px #3f2b96, 1474px 1815px #3f2b96, 1144px 1710px #3f2b96,
    1629px 1087px #3f2b96, 911px 919px #3f2b96, 771px 819px #3f2b96, 403px 720px #3f2b96,
    163px 736px #3f2b96, 1062px 238px #3f2b96, 1774px 818px #3f2b96, 1874px 1178px #3f2b96,
    1177px 699px #3f2b96, 1244px 1244px #3f2b96, 1371px 58px #3f2b96, 564px 1515px #3f2b96,
    1824px 487px #3f2b96, 929px 702px #3f2b96, 394px 1348px #3f2b96, 1161px 641px #3f2b96,
    219px 1841px #3f2b96, 358px 941px #3f2b96, 140px 1759px #3f2b96, 1019px 1345px #3f2b96,
    274px 436px #3f2b96, 1433px 1605px #3f2b96, 1798px 1426px #3f2b96, 294px 1848px #3f2b96,
    1681px 1877px #3f2b96, 1344px 1824px #3f2b96, 1439px 1632px #3f2b96,
    161px 1012px #3f2b96, 1308px 588px #3f2b96, 1789px 582px #3f2b96, 721px 1910px #3f2b96,
    318px 218px #3f2b96, 607px 319px #3f2b96, 495px 535px #3f2b96, 1552px 1575px #3f2b96,
    1562px 67px #3f2b96, 403px 926px #3f2b96, 1096px 1800px #3f2b96, 1814px 1709px #3f2b96,
    1882px 1831px #3f2b96, 533px 46px #3f2b96, 823px 969px #3f2b96, 530px 165px #3f2b96,
    1030px 352px #3f2b96, 1681px 313px #3f2b96, 338px 115px #3f2b96, 1607px 211px #3f2b96,
    1718px 1184px #3f2b96, 1589px 659px #3f2b96, 278px 355px #3f2b96, 464px 1464px #3f2b96,
    1165px 277px #3f2b96, 950px 694px #3f2b96, 1746px 293px #3f2b96, 793px 911px #3f2b96,
    528px 773px #3f2b96, 1883px 1694px #3f2b96, 748px 182px #3f2b96, 1924px 1531px #3f2b96,
    100px 636px #3f2b96, 1473px 1445px #3f2b96, 1264px 1244px #3f2b96, 850px 1377px #3f2b96,
    987px 1976px #3f2b96, 933px 1761px #3f2b96, 922px 1270px #3f2b96, 500px 396px #3f2b96,
    1324px 8px #3f2b96, 1967px 1814px #3f2b96, 1072px 1401px #3f2b96, 961px 37px #3f2b96,
    156px 81px #3f2b96, 1915px 502px #3f2b96, 1076px 1846px #3f2b96, 152px 1669px #3f2b96,
    986px 1529px #3f2b96, 1667px 1137px #3f2b96;
}

.stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #3f2b96, 1775px 1663px #3f2b96, 332px 1364px #3f2b96,
    878px 340px #3f2b96, 569px 1832px #3f2b96, 1422px 1684px #3f2b96, 1946px 1907px #3f2b96,
    121px 979px #3f2b96, 1044px 1069px #3f2b96, 463px 381px #3f2b96, 423px 112px #3f2b96,
    523px 1179px #3f2b96, 779px 654px #3f2b96, 1398px 694px #3f2b96, 1085px 1464px #3f2b96,
    1599px 1869px #3f2b96, 801px 1882px #3f2b96, 779px 1231px #3f2b96, 552px 932px #3f2b96,
    1057px 1196px #3f2b96, 282px 1280px #3f2b96, 496px 1986px #3f2b96, 1833px 1120px #3f2b96,
    1802px 1293px #3f2b96, 6px 1696px #3f2b96, 412px 1902px #3f2b96, 605px 438px #3f2b96,
    24px 1212px #3f2b96, 234px 1320px #3f2b96, 544px 344px #3f2b96, 1107px 170px #3f2b96,
    1603px 196px #3f2b96, 905px 648px #3f2b96, 68px 1458px #3f2b96, 649px 1969px #3f2b96,
    744px 675px #3f2b96, 1127px 478px #3f2b96, 714px 1814px #3f2b96, 1486px 526px #3f2b96,
    270px 1636px #3f2b96, 1931px 149px #3f2b96, 1807px 378px #3f2b96, 8px 390px #3f2b96,
    1415px 699px #3f2b96, 1473px 1211px #3f2b96, 1590px 141px #3f2b96, 270px 1705px #3f2b96,
    69px 1423px #3f2b96, 1108px 1053px #3f2b96, 1946px 128px #3f2b96, 371px 371px #3f2b96,
    1490px 220px #3f2b96, 357px 1885px #3f2b96, 363px 363px #3f2b96, 1896px 1256px #3f2b96,
    1979px 1050px #3f2b96, 947px 1342px #3f2b96, 1754px 242px #3f2b96, 514px 974px #3f2b96,
    65px 1477px #3f2b96, 1840px 547px #3f2b96, 950px 695px #3f2b96, 459px 1150px #3f2b96,
    1124px 1502px #3f2b96, 481px 940px #3f2b96, 680px 839px #3f2b96, 797px 1169px #3f2b96,
    1977px 1491px #3f2b96, 734px 1724px #3f2b96, 210px 298px #3f2b96, 816px 628px #3f2b96,
    686px 770px #3f2b96, 1721px 267px #3f2b96, 1663px 511px #3f2b96, 1481px 1141px #3f2b96,
    582px 248px #3f2b96, 1308px 953px #3f2b96, 628px 657px #3f2b96, 897px 1535px #3f2b96,
    270px 931px #3f2b96, 791px 467px #3f2b96, 1336px 1732px #3f2b96, 1013px 1653px #3f2b96,
    1911px 956px #3f2b96, 587px 816px #3f2b96, 83px 456px #3f2b96, 930px 1478px #3f2b96,
    1587px 1694px #3f2b96, 614px 1200px #3f2b96, 302px 1782px #3f2b96, 1711px 1432px #3f2b96,
    443px 904px #3f2b96, 1666px 714px #3f2b96, 1588px 1167px #3f2b96, 273px 1075px #3f2b96,
    1679px 461px #3f2b96, 721px 664px #3f2b96, 1202px 10px #3f2b96, 166px 1126px #3f2b96,
    331px 1628px #3f2b96, 430px 1565px #3f2b96, 1585px 509px #3f2b96, 640px 38px #3f2b96,
    822px 837px #3f2b96, 1760px 1664px #3f2b96, 1122px 1458px #3f2b96, 398px 131px #3f2b96,
    689px 285px #3f2b96, 460px 652px #3f2b96, 1627px 365px #3f2b96, 348px 1648px #3f2b96,
    819px 1946px #3f2b96, 981px 1917px #3f2b96, 323px 76px #3f2b96, 979px 684px #3f2b96,
    887px 536px #3f2b96, 1348px 1596px #3f2b96, 1055px 666px #3f2b96, 1402px 1797px #3f2b96,
    1300px 1055px #3f2b96, 937px 238px #3f2b96, 1474px 1815px #3f2b96, 1144px 1710px #3f2b96,
    1629px 1087px #3f2b96, 911px 919px #3f2b96, 771px 819px #3f2b96, 403px 720px #3f2b96,
    163px 736px #3f2b96, 1062px 238px #3f2b96, 1774px 818px #3f2b96, 1874px 1178px #3f2b96,
    1177px 699px #3f2b96, 1244px 1244px #3f2b96, 1371px 58px #3f2b96, 564px 1515px #3f2b96,
    1824px 487px #3f2b96, 929px 702px #3f2b96, 394px 1348px #3f2b96, 1161px 641px #3f2b96,
    219px 1841px #3f2b96, 358px 941px #3f2b96, 140px 1759px #3f2b96, 1019px 1345px #3f2b96,
    274px 436px #3f2b96, 1433px 1605px #3f2b96, 1798px 1426px #3f2b96, 294px 1848px #3f2b96,
    1681px 1877px #3f2b96, 1344px 1824px #3f2b96, 1439px 1632px #3f2b96,
    161px 1012px #3f2b96, 1308px 588px #3f2b96, 1789px 582px #3f2b96, 721px 1910px #3f2b96,
    318px 218px #3f2b96, 607px 319px #3f2b96, 495px 535px #3f2b96, 1552px 1575px #3f2b96,
    1562px 67px #3f2b96, 403px 926px #3f2b96, 1096px 1800px #3f2b96, 1814px 1709px #3f2b96,
    1882px 1831px #3f2b96, 533px 46px #3f2b96, 823px 969px #3f2b96, 530px 165px #3f2b96,
    1030px 352px #3f2b96, 1681px 313px #3f2b96, 338px 115px #3f2b96, 1607px 211px #3f2b96,
    1718px 1184px #3f2b96, 1589px 659px #3f2b96, 278px 355px #3f2b96, 464px 1464px #3f2b96,
    1165px 277px #3f2b96, 950px 694px #3f2b96, 1746px 293px #3f2b96, 793px 911px #3f2b96,
    528px 773px #3f2b96, 1883px 1694px #3f2b96, 748px 182px #3f2b96, 1924px 1531px #3f2b96,
    100px 636px #3f2b96, 1473px 1445px #3f2b96, 1264px 1244px #3f2b96, 850px 1377px #3f2b96,
    987px 1976px #3f2b96, 933px 1761px #3f2b96, 922px 1270px #3f2b96, 500px 396px #3f2b96,
    1324px 8px #3f2b96, 1967px 1814px #3f2b96, 1072px 1401px #3f2b96, 961px 37px #3f2b96,
    156px 81px #3f2b96, 1915px 502px #3f2b96, 1076px 1846px #3f2b96, 152px 1669px #3f2b96,
    986px 1529px #3f2b96, 1667px 1137px #3f2b96;
}

.stars3 {
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background: transparent;
    animation: blink 150s linear infinite;
    box-shadow: 387px 1878px #3f2b96, 760px 1564px #3f2b96, 1487px 999px #3f2b96,
    948px 1828px #3f2b96, 1977px 1001px #3f2b96, 1284px 1963px #3f2b96, 656px 284px #3f2b96,
    1268px 1635px #3f2b96, 1820px 598px #3f2b96, 642px 1900px #3f2b96, 296px 57px #3f2b96,
    921px 1620px #3f2b96, 476px 1858px #3f2b96, 658px 613px #3f2b96, 1171px 1363px #3f2b96,
    1419px 283px #3f2b96, 1037px 731px #3f2b96, 503px 663px #3f2b96, 1562px 463px #3f2b96,
    383px 1197px #3f2b96, 1171px 1233px #3f2b96, 876px 1768px #3f2b96, 856px 1615px #3f2b96,
    1375px 1924px #3f2b96, 1725px 918px #3f2b96, 952px 119px #3f2b96, 768px 1212px #3f2b96,
    992px 1462px #3f2b96, 1929px 717px #3f2b96, 1947px 755px #3f2b96, 1818px 1123px #3f2b96,
    1896px 1672px #3f2b96, 460px 198px #3f2b96, 256px 271px #3f2b96, 752px 544px #3f2b96,
    1222px 1859px #3f2b96, 1851px 443px #3f2b96, 313px 1858px #3f2b96, 709px 446px #3f2b96,
    1546px 697px #3f2b96, 674px 1155px #3f2b96, 1112px 130px #3f2b96, 355px 1790px #3f2b96,
    1496px 974px #3f2b96, 1696px 480px #3f2b96, 1316px 1265px #3f2b96, 1645px 1063px #3f2b96,
    1182px 237px #3f2b96, 427px 1582px #3f2b96, 859px 253px #3f2b96, 458px 939px #3f2b96,
    1517px 1644px #3f2b96, 1943px 60px #3f2b96, 212px 1650px #3f2b96, 966px 1786px #3f2b96,
    473px 712px #3f2b96, 130px 76px #3f2b96, 1417px 1186px #3f2b96, 909px 1580px #3f2b96,
    1913px 762px #3f2b96, 204px 1143px #3f2b96, 1998px 1057px #3f2b96, 1468px 1301px #3f2b96,
    144px 1676px #3f2b96, 21px 1601px #3f2b96, 382px 1362px #3f2b96, 912px 753px #3f2b96,
    1488px 1405px #3f2b96, 802px 156px #3f2b96, 174px 550px #3f2b96, 338px 1366px #3f2b96,
    1197px 774px #3f2b96, 602px 486px #3f2b96, 682px 1877px #3f2b96, 348px 1503px #3f2b96,
    407px 1139px #3f2b96, 950px 1400px #3f2b96, 922px 1139px #3f2b96, 1697px 293px #3f2b96,
    1238px 1281px #3f2b96, 1038px 1197px #3f2b96, 376px 1889px #3f2b96,
    1255px 1680px #3f2b96, 1008px 1316px #3f2b96, 1538px 1447px #3f2b96,
    1186px 874px #3f2b96, 1967px 640px #3f2b96, 1341px 19px #3f2b96, 29px 1732px #3f2b96,
    16px 1650px #3f2b96, 1021px 1075px #3f2b96, 723px 424px #3f2b96, 1175px 41px #3f2b96,
    494px 1957px #3f2b96, 1296px 431px #3f2b96, 175px 1507px #3f2b96, 831px 121px #3f2b96,
    498px 1947px #3f2b96, 617px 880px #3f2b96, 240px 403px #3f2b96;
}

.stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 387px 1878px #3f2b96, 760px 1564px #3f2b96, 1487px 999px #3f2b96,
    948px 1828px #3f2b96, 1977px 1001px #3f2b96, 1284px 1963px #3f2b96, 656px 284px #3f2b96,
    1268px 1635px #3f2b96, 1820px 598px #3f2b96, 642px 1900px #3f2b96, 296px 57px #3f2b96,
    921px 1620px #3f2b96, 476px 1858px #3f2b96, 658px 613px #3f2b96, 1171px 1363px #3f2b96,
    1419px 283px #3f2b96, 1037px 731px #3f2b96, 503px 663px #3f2b96, 1562px 463px #3f2b96,
    383px 1197px #3f2b96, 1171px 1233px #3f2b96, 876px 1768px #3f2b96, 856px 1615px #3f2b96,
    1375px 1924px #3f2b96, 1725px 918px #3f2b96, 952px 119px #3f2b96, 768px 1212px #3f2b96,
    992px 1462px #3f2b96, 1929px 717px #3f2b96, 1947px 755px #3f2b96, 1818px 1123px #3f2b96,
    1896px 1672px #3f2b96, 460px 198px #3f2b96, 256px 271px #3f2b96, 752px 544px #3f2b96,
    1222px 1859px #3f2b96, 1851px 443px #3f2b96, 313px 1858px #3f2b96, 709px 446px #3f2b96,
    1546px 697px #3f2b96, 674px 1155px #3f2b96, 1112px 130px #3f2b96, 355px 1790px #3f2b96,
    1496px 974px #3f2b96, 1696px 480px #3f2b96, 1316px 1265px #3f2b96, 1645px 1063px #3f2b96,
    1182px 237px #3f2b96, 427px 1582px #3f2b96, 859px 253px #3f2b96, 458px 939px #3f2b96,
    1517px 1644px #3f2b96, 1943px 60px #3f2b96, 212px 1650px #3f2b96, 966px 1786px #3f2b96,
    473px 712px #3f2b96, 130px 76px #3f2b96, 1417px 1186px #3f2b96, 909px 1580px #3f2b96,
    1913px 762px #3f2b96, 204px 1143px #3f2b96, 1998px 1057px #3f2b96, 1468px 1301px #3f2b96,
    144px 1676px #3f2b96, 21px 1601px #3f2b96, 382px 1362px #3f2b96, 912px 753px #3f2b96,
    1488px 1405px #3f2b96, 802px 156px #3f2b96, 174px 550px #3f2b96, 338px 1366px #3f2b96,
    1197px 774px #3f2b96, 602px 486px #3f2b96, 682px 1877px #3f2b96, 348px 1503px #3f2b96,
    407px 1139px #3f2b96, 950px 1400px #3f2b96, 922px 1139px #3f2b96, 1697px 293px #3f2b96,
    1238px 1281px #3f2b96, 1038px 1197px #3f2b96, 376px 1889px #3f2b96,
    1255px 1680px #3f2b96, 1008px 1316px #3f2b96, 1538px 1447px #3f2b96,
    1186px 874px #3f2b96, 1967px 640px #3f2b96, 1341px 19px #3f2b96, 29px 1732px #3f2b96,
    16px 1650px #3f2b96, 1021px 1075px #3f2b96, 723px 424px #3f2b96, 1175px 41px #3f2b96,
    494px 1957px #3f2b96, 1296px 431px #3f2b96, 175px 1507px #3f2b96, 831px 121px #3f2b96,
    498px 1947px #3f2b96, 617px 880px #3f2b96, 240px 403px #3f2b96;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: translateY(0px);
    } 50% {
        opacity: 1;
        transform: translateY(-1000px);
    } 100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}
